<% locals.title = "Inventory Management" %>

<main id="inventory-management">

    <h1>Inventory Management</h1>

    <!-- Flash message -->
    <% if (locals.message) { %>
        <div class="notice"><%= message %></div>
    <% } %>

    <ul class="management-links">
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
    </ul>
<!-- AJAX dropdown -->
    <h2>Manage Inventory</h2>
    <p> Select a classification to view inventory:</p>
    
    <label for="classificationList">Choose a Classification</label>
    <select id="classificationList" name="classification_id">
    <option value="">Select a classification</option>
            <%- classificationList %>
    </select>


    <table id="inventoryDisplay"></table>


    <script src="/js/inventory.js"></script>
    <noscript>JavaScript must be enabled to use this page.</noscript>

</main>